@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #d0f04f;
    --clr-main-light: #f35c05;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
    --clr-black: #1e1c1c;
    --clr-elemento: #0000009a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 15fr;
    background-color: var(--clr-gray);
}
aside {
    background-color: var(--clr-black);
    padding: 0.1rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* BOTON MENU LATERAL */
.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
    font-weight: 400;
    padding: 0;
    font-size: 0.9rem;
    width: 100%;
    color: var(--clr-white);
}
.boton-menu-cabe {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
    font-weight: 400;
    padding: 0;
    font-size: 0.9rem;
    width: 100%;
    color: var(--clr-white);
}
.boton-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-black);
    border-radius: 0.5rem;
}
.imagenMenu {
    width: 80%;
    object-fit: cover;
}

/* BARRA CONSULTAS */ 
.barra-cosultas {
    background-color: var(--clr-black);
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0;
    margin: 0;
    position: sticky;
    top: 0px;
}
.boton-menu-consulta {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    margin: 0;
    font-weight: 400;
    padding: 0.6rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
}
.boton-menu-consulta.active-consulta {
    background-color: var(--clr-white);
    color: var(--clr-black);
    border-radius: 0.1rem;
}
.logo-star-wars{
    width: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: var(--clr-black);
    background-image: url("https://pa1.aminoapps.com/7311/fc6a582d2c6ccafe8f9904a985118d16550996afr4-500-500_00.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    background-color: var(--clr-main-light);
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 5fr;
}
.titulo-principal {
    color: var(--clr-main-light);
    margin-bottom: 2rem;
}
.contenedor-elementos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1% 5%;
}
.elemento {
    border: 1px solid var(--color-letra-borde);
    border-radius: 20px;
    text-align: start;
    color: var(--clr-white);
    margin: 10px;
    padding: 10px;
    background-color: var(--clr-elemento);
}