:root {
    font-size: 3vw;
}
body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.fondo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.7;
}
.header__nav {
    /* background-image: linear-gradient( #2E3034, #1E1D1D, #000000, #000000); */
    background-color: #000000;
    color: white;
    padding: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    box-sizing: border-box;
    z-index: 2;
}
.nav__button {
    background-color: transparent;
    color: white;
    padding: 0.5vh 6vw;
    border: none;
    border-radius: none;
    cursor: pointer;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav__button--perfil {
    margin: 0;
    padding: 0;
}
.nav__img {
    max-width: 8vw;
    padding: 0;
    margin: 0;
}
.nav__span {
    font-size: 0.6rem;
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 550px) and (max-width: 999px){

}
@media (min-width: 1000px){
    body {
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 6vw;
    }
    .header__nav {
        /* background-image: linear-gradient( #2E3034, #1E1D1D, #000000, #000000); */
        background-color: #000;
        color: white;
        padding: 0;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: start;
        margin: 0;
        box-sizing: border-box;
        z-index: 2;
        width: 6vw;
        height: 100vh;
        flex-direction: column;
        left: 0;
        
    }
    .nav__button {
        background-color: transparent;
        color: white;
        padding: 2.5vh 0.9vw;
        border: none;
        border-radius: none;
        cursor: pointer;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav__button--perfil {
        margin: 0;
        padding: 0;
    }
    .nav__img {
        max-width: 4vw;
        padding: 0;
        margin: 0;
    }
    .nav__span {
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
    .nav__span--azul {
        color: #3182CE;
        font-weight: bold;
    }
    .nav__icono--peliculas {
        padding: 0;
        border-bottom: 0.5vh #f4f4f4 solid;
        border-bottom-right-radius: 1%;
        border-bottom-left-radius: 1%;
    }
    .accion,.animacion {
        margin-bottom: 9%;
        margin-top: 4%;
    }
    .icono__perfil {
        border-radius: 50%;
    }
}
.itemName {
    font-size: 1.5rem;
    color: #f4f4f4;
}